:root {
	--blue: #5c8f95;
	--dark-blue: #015e69;
	--white: #ffffff;
	--black: #1d1d1b;
	--red: #e55d4b;
	--yellow: #e8bc5b;
	--green: #849a74;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--black);
	font-family: 'Times New Roman';
	font-size: medium;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

button:enabled:hover {
	cursor: pointer;
}

.app {
	width: 20em;
	margin: 0em auto;
	padding: 1em;
}

.form-container {
	border: 0.1em solid var(--black);
}

.form-container__header {
	text-align: center;
	background-color: var(--blue);
	color: var(--white);
	padding: 0.6em;
	font-size: large;
	font-weight: 600;
}

.form-container__task {
	display: block;
	margin: 1em auto;
	padding: 1em;
	width: 16em;
	border: 0.1em solid var(--black);
	border-radius: 0.4em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.choose-prioriy-label {
	text-align: center;
	margin-bottom: 1em;
	font-weight: 700;
	text-decoration: var(--blue) underline;
}

.choose-priority {
	display: flex;
	justify-content: space-evenly;
}

.priority__high {
	background-color: var(--red);
	color: var(--white);
	border: none;
	border-radius: 0.2em;
	padding: 0.25em 0.75em;
	width: 4.5em;
}
.priority__high__red {
	color: var(--black);
	font-weight: bold;
}

.priority__medium {
	background-color: var(--yellow);
	color: var(--white);
	border: none;
	border-radius: 0.2em;
	padding: 0.25em 0.75em;
	width: 4.5em;
}
.priority__medium__yellow {
	color: var(--black);
	font-weight: bold;
}

.priority__low {
	background-color: var(--green);
	color: var(--white);
	border: none;
	border-radius: 0.2em;
	padding: 0.25em 0.75em;
	width: 4.5em;
}
.priority__low__green {
	color: var(--black);
	font-weight: bold;
}

.form-container__submit {
	display: block;
	margin: 1em auto;
	padding: 0.25em 0.75em;
	border-radius: 0.25em;
	font-size: 1em;
	font-weight: 600;
	color: var(--white);
	text-align: center;
	background-color: var(--blue);
	transition-duration: 0.4s;
	cursor: pointer;
}

.form-container__submit:hover {
	background-color: var(--dark-blue);
}

.container {
	width: 20em;
	height: 80vh;
	margin: 0em auto;
	padding: 1em;
}
.table-container {
	border: 0.1em solid var(--black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 0 21%;
}

.table-row__header {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	min-width: 100%;
	background-color: var(--blue);
	padding: 0.6em;
	font-size: large;
	font-weight: 600;
}

.table-row__header__task-name {
	width: 50%;
}

.table-row__header__priority {
	width: 30%;
}

.table-row__header p {
	color: var(--white);
	font-size: large;
	font-weight: 600;
}

.table-row__task-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 100%;
}
.table-row__task-list p {
	padding: 0.4em;
}

.table-row__task-list__task-name {
	width: 50%;
}

.table-row__task-list__priority {
	width: 30%;
}

[class^='fa-solid fa-trash delete'] {
	padding: 0.5em;
}

.footer-container {
	display: flex;
	justify-content: right;
	gap: 0.48em;
	padding: 0.4em;
}
